body { font-family: sans-serif; margin: 2rem;}
table { border-collapse: collapse; width: 100%; }
td, th { padding: 0.5em; }
th { background: #e0e0e0;}
form { margin-bottom: 1em;}
code { background: #f3f3f3; padding: 0.2em;}
